@mixin box {
   border: 2px solid #ccc;
   padding-bottom: 30px;
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 10px;

 }

.demo-box{
  @include box


}


* {
    box-sizing: border-box;
}
body{
  margin: 0;

	$font-family: 'Julius Sans One', sans-serif;

  font-family: $font-family;

}

header a{
  text-decoration: none;
  $font-dark-color: #737a75;
  color: $font-dark-color;

}
header a:hover{
  text-decoration: overline underline;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;

}

nav a {
    padding-right: 20px;
    text-decoration: none;
    $font-dark-color: #737a75;
    color: $font-dark-color;
}
nav a:hover{
  text-decoration: underline;;
}

.content-wrapper{
  min-height: 90vh;
  background-color:#9fa8a3;
  text-align: center;


}

footer a{
  text-decoration: none;
  $font-dark-color: #737a75;
  color: $font-dark-color;

}
footer a:hover{
  text-decoration: underline;;
}
footer{
  text-align: center;
  background-color: #e3e0cf;

}
footer p{
  $font-dark-color: #737a75;
  color: $font-dark-color;
}

.sign{

  $font-size: 40px;
  font-size: $font-size;
  padding: 25px;

}
#headline{
  float: left;
  padding-left: 10px;


}
#main-nav{
  float: right;
  padding-top: 15px;
}

.clearfix{
  clear: both;
}

h2{
  $font-size: 30px;
  font-size: $font-size;
  padding: 30px;
  color: #e3e0cf;
  margin:0;

}
.container a{
  $white-color: white;
  color: $white-color;
  text-decoration: none;
}
.container a:hover{
  text-decoration: underline;
}
.title-head{
  background-color:#c5d5cb;
  padding: 29px;
}
.main-container{
  margin:30px;
  text-align: center;

}
main{
    padding: 25px;
}

.may{
  width: 250px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px grey;

}
